%header
  %h1 Anthony Brown 
  %p JavaScript developer, and a huge Ruby fan!
  %a.ss-icon{href: "https://github.com/anthonybrown"} &#xF671;
  %a.ss-icon{href: "https://twitter.com/pixelBender67"} &#xF611;
  %a.ss-icon{href: "skype:tonyb6778.sonic?userinfo"} &#xF6A0;

.bb-items
